header {
	z-index: 100;
	display: block;
	overflow: hidden;
	transition: all .4s ease;
	background-color: transparent;
	padding: 1em;
	&.sticky {
		position: fixed;
		top: 0;
		padding: 0;
		left: 0;
		right: 0;
		background-color: rgba(0,0,0,.75);
		h1 {
			display: none;
		}
	}
}

nav {
	ul {
		padding: 0;
		margin: 0;
		display: block;
		text-align: center;
		> li {
			display: inline-block;
			list-style: none;
			padding: .5em;

			> ul {
				display: none;
			}
		}
	}
}