#stickyHeader {

	display: block;
	overflow: hidden;

	background-color: transparent;

	#heading {
		text-align: center;
		font-family: "Lobster";
		font-size: 4em; margin: 0 0 .3em;
		padding: 2em 0;
	}

}
#mainNav {
	transition: all .3s ease-out;
	text-align: center;
	padding: 1em;
	z-index: 100;
	&.sticky {
		padding: .5em;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		background-color: #FFF;
		box-shadow: 0 1px 3px -1px rgba(0,0,0,.5);

	}
}
footer {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0,0,0,.85);
	.btn-cnt { padding: 1em; margin: 0;}
	.flat.btn { color: #FFF; }
	small { color: #FFF;padding: 0 $baseline; }
}

body { padding-bottom: 4em;}

.animations {
	.btn { width: 100%; }
}
section .container {
	padding: 2em 0;
}
.heading {
	margin-top: 0;
	position: relative;
	// visibility: hidden;
	&.animated {
		// visibility: visible;

	}
}